DATABASE_URL="mysql://root:root@localhost:3306/backend_app"
NODE_ENV="development"
MIKRO_ORM_DEBUG="true"

DB_POOL_MIN="2"
DB_POOL_MAX="10"
DB_POOL_ACQUIRE_TIMEOUT_MS="15000"
DB_POOL_IDLE_TIMEOUT_MS="30000"
DB_CONNECT_TIMEOUT_MS="10000"
